<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div>
        <% if (locals.error) { %>
            <p><b><%= error %></b></p>
        <% } %>
    </div>
    <div>
    <form method="post" action="/user/login">
        <label>email</label>
        <input type="email" name="email">
        <br>
        <label>password</label>
        <input type="password" name="password">
        <br>
        <button type="submit">login</button>
    </form>
    </div>
</body>
</html>